:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #E9EFEC;
  text-align: center;
}
/* Styling for headings */
h2 {
  color: #16423C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
header {
  background-color: #16423C;
  padding: 20px;
  margin-bottom: 50px;
}
h1 {
  color: #E9EFEC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
/* Styling for questions */
.QuestionTwo {
  margin-top: 70px;
}
select {
  padding: 9px;
  font-size: 16px;
  border: 1px solid #16423C;
  border-radius: 5px;
  width: 90%;
  margin-top: 10px;
}
select option {
  color: #16423C;
  padding: 10px;
  font-size: 16px;
}
.QuestionThree {
  margin-top: 70px;
}
label {
  font-family: Arial, Helvetica, sans-serif;
}
/* Submit button */
.submit-button {
  background-color: #16423C;
  color: #C4DAD2;
  padding: 20px;
  border: solid 5px;
  border-radius: 20px;
  width: 45%;
  margin-top: 50px;
}
.submit-button:hover {
  cursor: pointer;
  background: #C4DAD2;
  color: #16423C;
}

@media (min-width: 1024px) {
  select {
    width: 20%;
  }
  .submit-button {
    width: 15%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  select {
    width: 30%;
  }
  .submit-button {
    width: 25%;
  }
}

.OptionThree {
  margin-left: 16px;
}
.OptionFour {
  margin-right: 18px;
}